name: Test/Build/Push to GHCR

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write
  pull-requests: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install python tools and project deps
        run: |
          python -m pip install --upgrade pip
          pip install ruff mypy pytest
          pip install -r src/requirements.txt

      - name: tests, checks, verifications
        run: |
          make verify lint test check-build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Args for docker
        id: args
        run: |
          echo "VERSION=$(git tag --sort=-v:refname | grep -E '^v?[0-9]+\.[0-9]+\.[0-9]+$' | head -n 1)" >> $GITHUB_OUTPUT
          echo "COMMIT=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "DATE=$(date -u +%Y-%m-%dT%H:%M:%SZ)" >> $GITHUB_OUTPUT
          echo "REPO=${{ github.repository }}" >> $GITHUB_OUTPUT
          echo "REGISTRY=ghcr.io/${{ github.repository }}" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.args.outputs.REGISTRY }}:${{ steps.args.outputs.VERSION }},${{ steps.args.outputs.REGISTRY }}:latest
          cache-from: type=registry,ref=${{ steps.args.outputs.REGISTRY }}:buildcache
          cache-to: type=registry,ref=${{ steps.args.outputs.REGISTRY }}:buildcache,mode=max
          build-args: |
            VERSION=${{ steps.args.outputs.VERSION }}
            COMMIT=${{ steps.args.outputs.COMMIT }}
            BUILD_DATE=${{ steps.args.outputs.DATE }}
            REPO=${{ steps.args.outputs.REPO }}
